<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
      <bypasslist>
        <clear/>
      </bypasslist>
      <proxy proxyaddress="http://net-inspect-1.dhltd.corp:8080/" usesystemdefault="False" bypassonlocal="False" autoDetect="False"/>
    </defaultProxy>
  </system.net>
</configuration>